* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#calculator {
    background-color: #2d2d30;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

#display {
    background-color: #1e1e1e;
    color: white;
    padding: 30px 20px;
    font-size: 3em;
    text-align: right;
    width: 100%;
    min-height: 150px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#buttons {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1;
}

.button-row {
    display: flex;
    flex: 1;
}

button {
    background-color: #323233;
    color: white;
    border: 1px solid #2d2d30;
    font-size: 1.3em;
    cursor: pointer;
    flex: 1;
    transition: background-color 0.5s;
    font-weight: 400;
}

button:hover {
    background-color: #404040;
}

button:active {
    background-color: #505050;
}

.operator {
    background-color: #254863 !important;
}

.operator:hover {
    background-color: #106ebe !important;
}

.equals {
    background-color: #254863 !important;
}

.equals:hover {
    background-color: #106ebe !important;
}